body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  color: #fff;
  overflow-x: hidden;
}
.header {
  background-size: cover;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 5rem;
}
.header h1 {
  font-size: 4rem;
  margin: 0;
  background: rgba(4, 0, 21, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
}
.header p {
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .header {
    height: 60vh;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header p {
    font-size: 1rem;
  }
}

.content {
  padding: 50px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.side-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  margin-left: 50px;
  font-family: "Gill Sans";
}

.info-section {
  flex: 1;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .side-text {
    writing-mode: horizontal-tb;
    transform: none;
    margin: 0 auto 20px auto;
  }
  .info-section {
    margin-left: 0;
  }
}
.info-section h2 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  margin-bottom: 20px;
}
.info-section p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #ccc;
}
.image-placeholder {
  width: 200px;
  height: 200px;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-section {
  padding: 20px;

  width: 100%;
}

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  swiper-slide {
    width: 250px;
    height: 250px;
  }
}

#contact-US {
  padding: 80px 5%;
  color: #fff;
  display: flex;
  justify-content: center;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  max-width: 1200px;
  width: 100%;
}

.contact-info {
  flex: 1;
}

.contact-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  color: #ccc;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: #aaa;
  border-bottom: 1px solid #aaa;
}
.contact-form {
  flex: 1;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row input {
  width: 100%;
  padding: 14px;
  border: none;
  background-color: #111;
  color: #fff;
  border-bottom: 2px solid #444;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  background-color: #111;
  border: none;
  border-bottom: 2px solid #444;
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  color: #777;
}

input:focus,
textarea:focus {
  border-color: #aaa;
}

.send-btn {
  background-color: #fff;
  color: #000;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.send-btn:hover {
  background-color: #ddd;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5);
}


@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form-row {
    flex-direction: column;
  }

  input,
  textarea {
    width: 100%;
  }

  .send-btn {
    width: 100%;
  }
}
