#content {
  padding: 1rem 0 0 0;
  display: flex;

  right: 12.5vw;
  width: 80vw;
  border: solid 1px white;

  border-radius: 1.2rem;

  min-height: 60vh;
  flex-direction: column;

  color: white;
}
.Start-button {
  background-color: rebeccapurple;
  display: flex;
  max-width: 10rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 10%;
  cursor: pointer;
}
.Start-button:hover {
  background-color: rgba(102, 51, 153, 0.741);
  color: black;
}
.block {
  margin-top: -2rem;
  backdrop-filter: blur(11px);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: calc(100% - 7rem);
  display: none;
  justify-content: center;
  align-items: center;
}
.inner-block {
  display: flex;
  gap: 2rem;
  max-width: 90%;
  flex-direction: column;
}
.inner-block > input {
  background-color: transparent;
  border: solid 1px;
  border-radius: 10%;
  font-size: 2rem;
  padding: 0.2rem;
}
.inner-block > .button {
  display: flex;
  width: 100%;
  justify-content: center;
}
.button > * {
  display: flex;
  width: 50%;
  cursor: pointer;
  height: 2rem;
  text-align: center;
  background-color: #9dedd275;
  border: solid 1px;
  justify-content: center;
  align-items: center;
}
.button > *:hover {
  background-color: #caeadf;
  color: black;
}
#content h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.conatiner-account {
  gap: 1rem;
  flex-grow: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  width: 100%;
  flex-grow: 2;
  align-items: flex-end;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
}
.button-container > * {
  display: flex;
  background-color: #141516;
  border: solid 1px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}
.button-container > *:hover {
  background-color: #caeadf;
  color: black;
}
.deatils {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#content h3 {
  text-align: right;
  margin-bottom: 2rem;
}

h2 a {
  color: rgb(76, 155, 245);
}
div a {
  color: #15ff0b;
}
#gforms {
  position: relative;

  text-align: justify;
}

#content hr {
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(10, 224, 220, 0.956),
    transparent
  );

  margin: -0.5rem auto 1rem auto;
  width: 80%;
}
